@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}
html {
	height: 100%;
}
body {
	background: url(../images/indexdi.jpg);
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}


#video {
	margin-top: 20px;
	text-align:center;
	margin-bottom: 10px;
}
#video video {
	width: 80%; 
	height: auto; 
	-webkit-transform: translate3d(0, 0, 0);
}

/*-- footer start here --*/ 
.footer-agile {
    background-color: #24202a;
	padding: 4em 0 3em;
} 
.footer-agile p {
	text-align: center;
}
.footer-wthree-grid:nth-child(1) {
    padding-right: 4em;
} 
.agileits-w3layouts-tweets h5 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0.8em;
    display: inline-block;
} 
.agileits-w3layouts-tweets h5 a{
	color: #fff;
	text-decoration:none;
} 
.footer-wthree-grid ul {
    padding: 0px;
    list-style: none;
}
.footer-wthree-grid ul li {
    margin-top: 0.8em;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
} 
.footer-wthree-grid ul li a {
    color: #fff;
    font-size: 1em;
	-webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
} 
.footer-wthree-grid ul li a:hover,.ftr-text p a:hover {
    color:#0fdfe2;
} 
.footer-wthree-grid p { 
    color: #fff; 
}   
.footer-wthree-grid h3 {
    font-size: 1.8em;
    color: #0fdfe2;
    margin-bottom: 0.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.footer-wthree-grid span{
    margin-right: 6px;
	font-size: .85em;
} 
.social-icon.footerw3ls {
    margin: 0 1.5em 0 0;
}
.social-icon.footerw3ls a {
    width: 30px;
    height: 30px;
    margin: 0 .3em;
    border: 1px solid #fff;
    font-size: 1em; 
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
	border-radius: 50%; 
}
/*-- //footer end here --*/