@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
}
#head {
	width: 100%;
	height: 120px;
	background: linear-gradient(to top right, #0052cc, #CF9);
	color: #FFF;
}
#head h2 {
	margin-left: 400px;
	font-size: 50px;
	font-weight: bolder;
	text-align: center;
}
#head p {
	font-size: 15px;
}
/*css for the content div*/
#content {
	margin-top: 20px;
	/*让图片框居中*/
	text-align: center;
}
/*css for the pic in gallery*/
#gallery img {
	/*padding-left: 60px;*/
	text-align: center;
	width: 800px;
	height: 400px;
}
#gallery{
	display:inline;
	float:left;
	margin-left: 100px; 
	width: 50%; 
	height: 400px;
}
#discribe{
	display:inline;
	float:right;
	margin-right:150px;
	width: 50%; 
	height: 400px; 
	width: 250px;
}
/*css for the pic in discribe*/
#discribe img {
	height: 150px; 
	width: 250px;
}
#discribe h2 {
	font-size: 30px;
	color: #00C;
}
#discribe p {
	margin-bottom: 20px; 
	height: 210px;
	color: #06F;
}